/*--CONTENT: Variáveis (cores, fontes, tamanhos...)--*/
:root {
  --bg-color: #1a4862;
  --text-color: #ccc;
}

/*-- CONTENT: Reset básico*/
body {
  background: var(--bg-color);
}

span,
label {
  color: var(--text-color);
  font-weight: 500;
}
